<h1>hello</h1>
<tr scope="row" class="">
	<td></td>
  <td>
    <button type="button" class="btn btn-info btn-sm" data-toggle="modal" data-target="#requestmodal_">Request</button>
    <div class="modal fade" id="requestmodal_" role="dialog" aria-labelledby="exampleModalLabel" aria-hidden="true">
      <div class="modal-dialog modal-dialog-dashboard" role="document">
        <div class="modal-content modal-content-dashboard">
          <button type="button" class="btn btn-info btn-sm" data-dismiss="modal">Close</button>
          <div class="modal-body">
            <h3>Request</h3>
            <pre class="prettyprint">
             
            </pre>
          </div>
        </div>
      </div>
    </div>  
	</td>
  <td>
    <button type="button" class="btn btn-info btn-sm" data-toggle="modal" data-target="#responsemodal_">Response</button>
    <div class="modal fade" id="responsemodal_" role="dialog" aria-labelledby="exampleModalLabel" aria-hidden="true">
      <div class="modal-dialog modal-dialog-dashboard" role="document">
        <div class="modal-content modal-content-dashboard">
          <button type="button" class="btn btn-info btn-sm" data-dismiss="modal">Close</button>
          <div class="modal-body">
            <h3>Response</h3>
            <pre class="prettyprint">
             
            </pre>
          </div>
        </div>
      </div>
    </div>
  </td>
  <td></td>
  <td></td>
  <td></td>
</tr>